# Django
DJANGO_SECRET_KEY=your-local-secret-keyicmsdoicmsdicn@@@ssx
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# PostgreSQL - Render
DATABASE_URL=postgresql://postgres:ptHRAtKkenVn2F65ddGy@remote-pishgaman.runflare.com:31703/dbeducatxuo_db

# Email
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=alirezamo929@gmail.com
EMAIL_HOST_PASSWORD=alireza@40333053
DEFAULT_FROM_EMAIL=alirezamo929@gmail.com

# Frontend
FRONTEND_URL=http://localhost:5173