-- Active: 1779359770756@@127.0.0.1@5432@education_db
# Django Settings
DJANGO_SECRET_KEY=django-insecure-your-key-here
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# Database Settings
DB_NAME=education_db
DB_USER=education_user
DB_PASSWORD=your_password_here
DB_HOST=127.0.0.1
DB_PORT=5432
